@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: cursive;
  margin: 0;
  padding: 50px;
  display: grid;
  background-color: rgba(0, 0, 0, 0.956);
}

.header {
  display: flex;
  position: fixed;
  left: 0;
  background: #1f1f1f;
  width: 100%;
  height: 45px;
  top: 0;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  -webkit-box-shadow: 0px 3px 0px 0px rgb(255, 132, 0);
  -moz-box-shadow: 0px 3px 0px 0px rgb(255, 132, 0);
  box-shadow: 0px 3px 0px 0px rgb(255, 132, 0);
}

.logos {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.first {
  color: white;
  font-weight: 700;
}

.last {
  color: #ff8400;
  padding-left: 4px;
  padding-right: 5px;
}

.header img {
  height: 40px;
}

#container {
  margin-top: 15px;
  width: 100%;
  height: auto;
  margin-left: 33px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: linear-gradient(to top, #232427ae, #333333, #575757);
}

header {
  width: 0%;
  height: 230px;
  display: flex;
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 20px;
  text-align: left;
  font-family: cursive;
}

#header-text {
  vertical-align: middle;
  max-width: calc(100% - 270px);
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}

h1 {
  font-size: 70px;
  margin-top: 0px;
  text-shadow: black;
  font-family: cursive;
}

.list-no-style {
  list-style: none;
}

.left-nav {
  position: fixed;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  top: 65px;
  left: 10px;
  padding-left: 8px;
  padding-right: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.left-nav a i {
  padding: 10px;
  font-size: 25px;
  color: rgb(150, 150, 150);
}

.left-nav i:hover {
  color: rgb(255, 255, 255);
}

.left-nav2 {
  display: flex;
  margin-top: 0px;
  position: fixed;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  text-align: center;
  top: 197px;
  left: 10px;
  bottom: 10px;
  padding-left: 2px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.left-nav2 a i {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-top: 10px;
  margin-left: 19px;
  margin-right: 20px;
}

#isi {
  width: 100%;
  height: 500px;
  margin: 0;
  margin-left: 33px;
  background: linear-gradient(to bottom, #141516ae, #2c2e31ae);
}

h3 {
  color: white;
  margin-left: 40px;
  margin-top: 20px;
}

h5 {
  color: dimgray;
  margin-left: 50px;
}

.box {
  display: flex;
}

#box1 {
  background-color: #151618ae;
  width: 200px;
  height: 300px;
  margin: 40px;
  text-align: center;
  border-radius: 8px;
  transition: all ease 0.4s;
  cursor: pointer;
}

#box1 p {
  margin-top: 20px;
  color: white;
}

#box1 img {
  width: 170px;
  margin-top: 30px;
  border-radius: 50%;
}

#box1:hover {
  background-color: #252525;
}

#box1 .play {
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#box1 .play .fa-solid {
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  width: 18px;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #b96e1d;
  border-radius: 50%;
  opacity: 0;
  transition: all ease 0.4s;
}

#box1:hover .play .fa-solid {
  opacity: 1;
  transform: translateY(-20px);
}

#track {
  width: 100%;
  height: 500px;
  margin: 0;
  margin-top: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(to bottom, #2c2e31ae, #3a3c41ae);
}

#box2 {
  background-color: #1d1f22ae;
  width: 570px;
  height: 80px;
  margin-top: 5px;
  margin-left: 40px;
  display: flex;
  border-radius: 9px;
}

#box2:hover {
  background-color: #252525;
}

#box2 h4 {
  color: rgb(198, 198, 199);
  font-size: 17px;
  margin-left: 20px;
}

#box2 p {
  color: white;
  margin-top: 30px;
  margin-left: 20px;
}

#box2 h3 {
  color: rgb(198, 198, 199);
  font-size: 17px;
  margin-top: 22px;
  margin-left: 120px;
}

#box2 img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 8px;
}

#box3 {
  background-color: #1d1f22ae;
  width: 570px;
  height: 80px;
  margin-top: 5px;
  margin-left: 40px;
  display: flex;
  border-radius: 9px;
}

#box3:hover {
  background-color: #252525;
}

#box3 h4 {
  color: rgb(198, 198, 199);
  font-size: 17px;
  margin-left: 20px;
}

#box3 h3 {
  color: rgb(198, 198, 199);
  font-size: 17px;
  margin-top: 22px;
  margin-left: 160px;
}

#box3 p {
  color: white;
  margin-top: 30px;
  margin-left: 20px;
}

#box3 img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #3b3a3a;
}

::-webkit-scrollbar-thumb {
  background: #ff9d00;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
