body {
    font-family: 'arial', sans-serif;
    overflow: hidden;
    position: relative;
    background: rgb(253,187,45);
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(177,128,46,1) 39%, rgba(124,87,47,1) 62%, rgba(74,48,48,1) 93%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 3s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .login-container {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  .login-container .register-akun a{
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    color: #f0f0f0;
  }
  .login-container .register-akun a:hover {
    color: #333333;
  }
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
  }

  .login-button {
    width: 100px;
    background-color: #a3a3a3;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: #b96e1d;
    transition: 0.5s ease-in-out;
  }

  .social-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .social-button {
    padding: 12px;
    border: 1px solid white;
    border-radius: 13px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .facebook-button {
    background-color :#333333;
    background: transparent;
    backdrop-filter: 10px;
    color: #fff;
  }

  .facebook-button:hover {
    background-color: #5e5e5e;
  }

  .apple-button {
    background-color :#333333;
    background: transparent;
    backdrop-filter: 10px;
    color: #fff;
  }

  .apple-button:hover {
    background-color: #5e5e5e;
  }

  .google-button {
    background-color :#333333;
    background: transparent;
    backdrop-filter: 10px;
    color: #fff;
  }

  .google-button:hover {
    background-color: #5e5e5e;
    transition: 0.5s ease-in-out;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #3b3a3a; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #ff9d00; 
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
